  body {
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif;
    align-items: center;
    width: auto;
    height: auto;
  }

  /* NAVBAR */
  .navbar {
    background-color: white;
    border-bottom: 2px dashed black;
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 120;
  }

  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    margin: 0 10px;
    position: relative;
  }

  .nav-link {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 0;
    position: relative;
  }

  .nav-link:not(.logo-link)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
  }

  .nav-link:not(.logo-link):hover::after {
    transform: scaleX(1);
  }

  .logo-img {
    width: 120px;
    height: auto;
  }

  .icon-cart {
    width: 30px;
    /* background-color: blueviolet; */
    height: 30px;
  }

  .icon-address {
    width: 15px;
    height: auto;
  }

  .user-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .address-link {
    display: flex;
    font-size: 12px;
    font-weight: normal;
  }

  .city-address {
    font-weight: bold;
    font-size: 13px;
  }

  .address-link .icon-img {
    margin-left: 5px;
    width: 14px;
    height: auto;
  }

  /* Submenu styles */
  .submenu-Category {
    display: none;
    position: absolute;
    margin-top: 5px;
    left: 0;
    background-color: white;
    border: 2px dashed black;
    z-index: 100;
  }

  .submenu-Category a {
    display: block;
    padding: 10px 20px;
    font-size: 17px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
  }

  .nav-item:hover .submenu-Category {
    display: block;
    padding: 10px
  }

  /* Mini Cart Styles NAV */
  .mini-cart-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.818);
    z-index: 1000;

  }

  .mini-cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.595);
  }

  .mini-cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mini-cart-header h1 {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
  }

  .close-btn {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }

  .mini-cart-content {
    text-align: center;
    margin-top: 50px;
  }

  .icon-cart-large {
    width: 150px;
    padding: 40px;
    height: auto;
    margin-bottom: 10px;
  }

  .Item-cart-count {
    display: inline-block;
    text-align: center;
    background-color: black;
    width: max-content;
    height: 20px;
    margin-top: -5px;
    padding: 5px;
    margin-left: -15px;
    position: absolute;
    height: max-content;
    font-size: 10px;
    border-radius: 150px;
    color: white;
    border: 2px dashed black;
  }

  .mini-cart-content p {
    margin: 20px 0;
    font-size: 18px;
  }

  .start-shopping-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    position: relative;

  }


  .start-shopping-link {
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.8em 2em;
    background: black;
    transition: 0.2s;
  }

  .start-shopping-link:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    border: 1px solid black;
    box-shadow: 0.25rem 0.25rem black;
  }

  .start-shopping-link:active {
    transform: translate(0);
    box-shadow: none;
  }


  /* MVP Product Showcase */
  .MVP-product-showcase-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    /* background-color: #000000; */
    margin-bottom: 70px;
    margin-top: 170px;
  }

  .showcase-wrapper {
    display: flex;
    transition: transform 0.5s ease;
  }


  .Mvp-product-showcase {
    min-width: 100%;
    /* background-color: #0056b3; */
    height: 500px;
    text-align: center;
    position: relative;
    /* padding: 20px; */
    box-sizing: border-box;
  }

  /* Gaya untuk tombol navigasi */
  .slide-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(50%);
  }

  .slide-nav button {
    background: #444;
    color: white;
    border: none;
    border-radius: 120px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    transition: background 0.3s ease;
  }

  .slide-nav button:hover {
    background: whitesmoke;
    border: 2px dashed black;
    color: black;
  }


  .Mvp-product-showcase {
    width: 1140px;
    height: 500px;
    text-align: center;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    /* Tambahkan margin atas untuk menghindari overlap dengan navbar yang fixed */
  }

  .pre-order-badge {
    position: absolute;
    background-color: black;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    border-radius: 0 0 30px 0;
    font-size: 20px;
  }

  .product-image {
    width: 100%;
    border: 1.5px black solid;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .container-product-title-and-buttons {
    justify-content: center;
    align-items: center;
    width: 97%;
    bottom: 15px;
    position: absolute;
  }

  .product-title {
    text-align: center;
    height: auto;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    margin: 20px 0;
    color: #ffffff;
  }

  /* Buttons container */
  .buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .buttons button {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    /* position: relative; */
    /* overflow: hidden; */
    /* color: white; */
    /* background-color: #ff90e8; */
    /* Default text color */
    /* transition: color 0.3s ease; */
    font-weight: bold;
  }

  .shop-now {
    /* position: relative; */
    /* --bg: black; */
    /* --hover-bg: #ffffff; */
    /* --hover-text: #000; */
    /* background-color: aqua; */
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.8em 2em;
    transition: 0.4s;
  }

  .shop-now:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    /* background: var(--hover-bg); */
    background-color: #fff;
    border: 1px solid black;
    box-shadow: 0.25rem 0.25rem black;
  }

  .shop-now:active {
    transform: translate(0);
    box-shadow: none;
  }




  .add-to-cart {
    /* position: relative; */
    /* --bg: black; */
    /* --hover-bg: #ffffff; */
    /* --hover-text: #000; */
    /* background-color: aqua; */
    background-color: yellow;
    color: black;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.8em 2em;
    transition: 0.4s;
  }

  .add-to-cart:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    /* background: var(--hover-bg); */
    background-color: #fff;
    border: 1px solid black;
    box-shadow: 0.25rem 0.25rem black;
  }

  .add-to-cart:active {
    transform: translate(0);
    box-shadow: none;
  }


  .cart-icon-img {
    width: 20px;
    height: auto;
    margin-bottom: -4px;
    position: relative;
  }

  /* MVP Product Showcase */

  /* Footer */
  .footer {
    position: absolute;
    max-height: max-content;
    border-radius: 10px 10px 0 0;
    border-top: 2px dashed black;
    width: 100%;
    background-color: white;
  }

  .footer-list1 {
    width: 250px;
    height: auto;
    list-style-type: none;
    margin: 10px;
    padding: 0;
    align-items: center;
  }

  .fot-item1 {
    padding: 10px 0;
    margin: 0;
  }

  .fot-item1 h3 {
    margin: 0;
    padding: 0;
  }

  .fot-link1 {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    display: inline-block;
    /* Ensures proper width for pseudo-element */
  }

  .fot-link1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  .fot-link1:hover::before {
    transform: scaleX(1);
  }

  /* Footer Social Media Links */
  .footer-social-media {
    position: relative;
    width: 52%;
    height: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
  }

  .footer-social-media-follow-block {
    text-align: left;
  }

  .footer-social-media-follow-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
  }

  .Follow-us-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .Follow-us-list li {
    display: flex;
    align-items: center;
  }

  .Follow-us-list a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
  }

  .Follow-us-list a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  .Follow-us-list a:hover::before {
    transform: scaleX(1);
  }

  .Follow-us-list img {
    width: 24px;
    height: 25px;
  }

  /* Footer */