.SizeGuides {
    /* background-color: blueviolet; */
    width: 100%;
    align-items: center;
    justify-content: center;
    height: max-content;
}

.container-title {
    /* background-color: aqua; */
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-title h1 {
    font-size: 40px;
    font-weight: 510;
}





.Container-sz-guide-tshirt {
    width: 100%;
    place-items: center;
    display: flex;
    flex-direction: column;
}


.wrapper-table-sz-guide {
    width: 1000px;
}

.Container-sz-guide-tshirt h4 {
    font-size: 30px;
    font-weight: 420;
    text-decoration: underline;
    width: max-content;

}


th,
td {

    border: 1px solid #b3b3b3;
    padding: 10px 40px 10px 30px;
    width: 100%;
    font-size: 14px;
    text-align: center;
}

th {
    background-color: black;
    color: white;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Warna latar belakang untuk baris genap */
}

/* Warna belang untuk baris ganjil */
tr:nth-child(odd) {
    background-color: #ffffff;
    /* Warna latar belakang untuk baris ganjil */
}


table {
    width: 100%;
    table-layout: fixed;
    /* Pastikan semua kolom memiliki lebar yang sama */
}